<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Challenge3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BCA1F491F829F1800B2605F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BCA1F5D1F829F1800B2605F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BCA1F681F829F1800B2605F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
